server {

    listen 80;
    server_name {{ app_domains|join(" ") }};

    access_log /var/log/nginx/{{ app_name }}.access.log;
    error_log /var/log/nginx/{{ app_name }}.error.log;

    location /.well-known/acme-challenge/ {
        root /usr/share/nginx/html;
    }

    location = /robots.txt {
        root /usr/share/nginx/html/{{ app_name }};
    }
    
    location / {
        return 301 https://$host$request_uri;
    }
}

server {

    listen 443 ssl;
    server_name {{ app_domains|join(" ") }};

    access_log /var/log/nginx/{{ app_name }}.access.log;
    error_log /var/log/nginx/{{ app_name }}.error.log;

    # Include SSL configurations
    include /etc/nginx/servers/{{ app_name }}/ssl*.conf;
    
    # Dynamic location configurations
    include /etc/nginx/servers/{{ app_name }}/locations/*.conf;

    location / {
        root /usr/share/nginx/html/{{ app_name }};
    }
}
